/* Footer */

.footer {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
}

.footer a {
    color: #9B8AB4;
}

.footer p {
    font-family: sans-serif;
    font-size: 20px;
    color: #9B8AB4;
}

.footer .social {
    font-size: 2rem;
}