/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }
}

.title * {
    text-decoration: none;
    color: #9B8AB4;
}

.title p {
    text-decoration: none;
    font-style: italic;
}
