/*Image*/
.logo img {
    display: block;
    padding-left: 20px;
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
}

.main img {
    width: 200px;
    float: left;
    border-radius: 10px;
}

img {
    max-width: 100%;
}