@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Libre+Bodoni&display=swap');

$header-font: 'Libre Bodoni', serif;
$main-font: 'Balsamiq Sans', sans-serif;

$font-color: #9B8AB4;
$font-alternative-color: #F2ECF8;
$accent-color: #564A94;
$background-color: #1F232F;
$background-alternative-color: #27254C;
$hightlight-color: #45B0D2;

